body {
  color: #37474f;
  font-size: 1em; }

@media screen and (max-width: 560px) {
  p strong br {
    display: none; } }

h3 {
  color: #00b8d4; }

.header {
  background-color: #bbdefb; }
  .header .fa {
    color: #b71c1c; }
  @media screen and (max-width: 560px) {
    .header {
      text-align: left;
      height: auto; } }
  @media screen and (max-width: 560px) {
    .header .title {
      padding-top: 20px; } }

@media screen and (max-width: 560px) {
  .avatar {
    width: 100%;
    float: none; } }

.paper {
  position: relative;
  background-color: #e3f2fd;
  overflow: hidden;
  max-width: 800px; }

.columns {
  display: flex;
  height: 100%; }
  @media screen and (max-width: 560px) {
    .columns {
      display: block; } }

.column-right {
  color: #e3f2fd;
  background-color: #37474f;
  order: 2; }
  @media screen and (max-width: 560px) {
    .column-right {
      float: none;
      width: 100%;
      padding: 10px; } }
  .column-right h3 {
    color: #80d8ff; }

.social {
  background-color: #607d8b;
  padding: 10px 0px 10px 0px; }
  @media screen and (max-width: 560px) {
    .social {
      text-align: left; } }
  .social i {
    color: #80d8ff; }
  .social p {
    padding: 0px;
    color: #e3f2fd; }
  .social a {
    text-decoration: none;
    color: #e3f2fd; }

@media print {
  body {
    font-size: 0.85em;
    padding-top: 0px;
    padding-bottom: 0px; }
    body > .paper {
      margin: 0;
      width: 100%;
      height: 100%; }
  .header {
    height: 100px; }
  .columns {
    height: 100%; }
    .columns .column-right, .columns .column-left {
      height: 100%; }
  .social {
    position: absolute;
    bottom: 0; } }
